<div class="wrapper">
    <header class="slanted-header">
        <div class="header-background" [style.background-image]="'url(assets/img/banner.avif)'">
            <div class="header-overlay"></div>
        </div>

        <div class="header-content">
            <div class="logo-container">
                <img src="assets/img/logoupsblanco.png" alt="Logo UPS" class="ups-logo-slanted" />
            </div>
            <h1 class="slanted-title">Taller de Elaboración de Instrumentos de Valoración de OVAS</h1>
            <p class="slanted-subtitle">Vicerrectorado Académico</p>
            <h1 class="slanted-title">FORMACIÓN EN INVESTIGACIÓN</h1>
            <p class="slanted-subtitle">Coordinación de Investigación Sede Cuenca</p>

        </div>
    </header>
    <div class="container_cro">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab === 'tab1' }" (click)="activeTab = 'tab1'" role="button">Miércoles, 18 de Marzo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab === 'tab2' }" (click)="activeTab = 'tab2'" role="button">Jueves, 19 de Marzo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab === 'tab3' }" (click)="activeTab = 'tab3'" role="button">Viernes, 20 de Marzo</a>
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'tab1' }">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h00 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">09h45 - 10h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h15 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h00</span><h5>FIN JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h00 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h00 - 16h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">07</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h15 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">08</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">18h00</span><h5>FIN DE LA JORNADA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'tab2' }">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h00 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">09h45 - 10h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h15 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h00</span><h5>FIN JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h00 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo3()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h00 - 16h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">07</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h15 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo3()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">08</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">18h00</span><h5>FIN DE LA JORNADA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'tab3' }">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h00 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">09h45 - 10h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h15 - 12h00</span><h5>Taller de Elaboración de Instrumentos de Valoración de OVAS</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo2()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h00</span><h5>FIN JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h00 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo4()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h00 - 16h15</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">07</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h15 - 18h00</span><h5>Talleres de Investigación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo4()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">08</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">18h00</span><h5>FIN DE LA JORNADA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>