<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../../../assets/img/banner.avif'); background-color: rgba(0, 0, 0, 0.2); background-blend-mode: multiply;">
        <div class="content-center brand">
            <h1 class="floating-title">
                <img src="assets/img/logoupscolor.png" alt="Logo UPS" class="hero-logo" />
                REGULACIÓN EMOCIONAL, MANEJO DEL ESTRÉS Y PRIMEROS AUXILIOS PSICOLÓGICOS
            </h1>
        </div>
        <div class="filter"></div>
    </div>
    <div class="container_cro">
        <h4 style="color: black; font-size: 1.2rem;">Equipo de Coordinación y Animación Proyecto LALA - Consejería Académica</h4><br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   [ngClass]="{ 'active': activeTab === 'tab1' }"
                   id="tab1-tab"
                   data-toggle="tab"
                   href="#tab1"
                   role="tab"
                   aria-controls="tab1"
                   [attr.aria-selected]="activeTab === 'tab1'">Lunes, 22 de Septiembre</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link"
                   [ngClass]="{ 'active': activeTab === 'tab2' }"
                   id="tab2-tab"
                   data-toggle="tab"
                   href="#tab2"
                   role="tab"
                   aria-controls="tab2"
                   [attr.aria-selected]="activeTab === 'tab2'">Martes, 23 de Septiembre</a>
            </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'tab1' }" id="tab1" role="tabpanel">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Palabras Iniciales y Registro de Asistencia</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">08h00 - 08h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Dinámica Inicial</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">08h30 - 08h50</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Regulación Emocional </h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Fabián Auquilla Guzmán</p>
                            <small class="text-muted">08h50 - 11h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Manejo del Estrés</h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Tatiana Patiño Torres</p>
                            <small class="text-muted">11h20 - 13h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>ALMUERZO</h6>
                            <small class="text-muted">13H0 - 14H30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Dinámica General</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">14h30 - 15h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Primeros Auxilios Psicológicos – PAP</h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Jessica Ortiz Fernández</p>
                            <small class="text-muted">15h00 - 17h10</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Compromisos personales y grupales - evaluación final</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">17h10 - 17h30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6> 17h30 - FIN DE LA JORNADA</h6>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" [ngClass]="{ 'show active': activeTab === 'tab2' }" id="tab2" role="tabpanel">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Palabras Iniciales y Registro de Asistencia</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">08h00 - 08h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Dinámica Inicial</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">08h30 - 08h50</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Regulación Emocional </h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Fabián Auquilla Guzmán</p>
                            <small class="text-muted">08h50 - 11h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Manejo del Estrés</h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Tatiana Patiño Torres</p>
                            <small class="text-muted">11h20 - 13h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>ALMUERZO</h6>
                            <small class="text-muted">13H0 - 14H30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Dinámica General</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">14h30 - 15h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Primeros Auxilios Psicológicos – PAP</h6>
                            <p>María Auxiliadora</p>
                            <p>Mgs. Jessica Ortiz Fernández</p>
                            <small class="text-muted">15h00 - 17h10</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Compromisos personales y grupales - evaluación final</h6>
                            <p>María Auxiliadora</p>
                            <p>Equipo de Consejería Académica LALA</p>
                            <small class="text-muted">17h10 - 17h30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6> 17h30 - FIN DE LA JORNADA</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

