<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/banner.avif'); background-color: rgba(0, 0, 0, 0.2); background-blend-mode: multiply;">
        <div class="filter"></div>
        <div class="content-center brand">
            <h1 class="floating-title">
                <img src="assets/img/logoupscolor.png" alt="Logo UPS" class="hero-logo" />
                FORMACIÓN DOCENTES - MODALIDAD FLEXIBLE</h1>
        </div>
    </div>
    <div class="container_cro">
        <h4 style="color: black; font-size: 1.2rem;">Unidad Académica de Educación a Distancia y Virtual</h4><br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Miércoles, 17 de Septiembre</a>
            </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Intervención de la Vicerrectora Académica</h6>
                            <p>Auditorio Mons. Luna Tobar</p>
                            <p>Ángela Flores PhD.</p>
                            <small class="text-muted">15h00 - 15h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Estadística de la Modalidad Flexible</h6>
                            <p>Auditorio Mons. Luna Tobar</p>
                            <p>Pablo Farfán PhD.</p>
                            <small class="text-muted">15h20 - 15h50</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Estructura Académica de la Modalidad Flexible </h6>
                            <p>Auditorio Mons. Luna Tobar</p>
                            <p>Fernando Solórzano PhD.</p>
                            <small class="text-muted">15h50 - 16h20</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>RECESO</h6>
                            <small class="text-muted">16h20 - 16h40</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Charla: Competencias Digitales para el Éxito Académico y Profesional en la Era Virtual</h6>
                            <p>Auditorio Mons. Luna Tobar</p>
                            <p>Ponente Invitado</p>
                            <small class="text-muted">16h40 - 18h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6> 18h00 - FIN DE LA JORNADA</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>


