<div class="calendar-wrapper"> <br><br>
    <div class="calendar-container">
        <h3 class="calendar-main-title">Primera Semana</h3>

        <div class="hybrid-calendar">

            <div class="calendar-item color-1" [routerLink]="['/teacher_training']" [queryParams]="{ tab: 'tab1' }">
                <div class="date-section">
                    <span class="day">16</span>
                    <span class="month">MARZO</span>
                </div>
                <div class="content-section">
                    <div class="header-info">
                        <!--<span class="time"><i class="far fa-clock"></i> 08h00</span>-->
                        <span class="category">Jornadas Generales</span>
                    </div>
                    <!--<h4>Formación de Investigación</h4>-->
                </div>
                <p class="location"><i class="fas fa-map-marker-alt"></i> Teatro Carlos Crespi</p>
                <div class="action-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="calendar-item color-2" [routerLink]="['/teacher_training']" [queryParams]="{ tab: 'tab2' }">
                <div class="date-section">
                    <span class="day">17</span>
                    <span class="month">MARZO</span>
                </div>
                <div class="content-section">
                    <div class="header-info">
                        <!--<span class="time"><i class="far fa-clock"></i> 08h00</span>-->
                        <span class="category">Jornadas Generales</span>
                    </div>
                    <!--<h4>Jornada Aplicada D2</h4>-->
                </div>
                <p class="location"><i class="fas fa-map-marker-alt"></i> Teatro Carlos Crespi</p>
                <div class="action-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="calendar-item color-1" [routerLink]="['/ovas_investigation']" [queryParams]="{ tab: 'tab1' }">
                <div class="date-section">
                    <span class="day">18</span>
                    <span class="month">MARZO</span>
                </div>
                <div class="content-section">
                    <div class="header-info">
                        <!--<span class="time"><i class="far fa-clock"></i> 08h00</span>-->
                        <span class="category">Taller de Elaboración de Instrumentos de Valoración de OVAS</span>
                        <span class="category">Jornadas de Investigación</span>
                    </div>
                    <!--<h4>Jornada Aplicada D2</h4>-->
                    <p class="location"><i class="fas fa-map-marker-alt"></i> Edificio Guillermo Mensi</p>
                </div>
                <div class="action-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>


            <div class="calendar-item color-2" [routerLink]="['/ovas_investigation']" [queryParams]="{ tab: 'tab2' }">
                <div class="date-section">
                    <span class="day">19</span>
                    <span class="month">MARZO</span>
                </div>
                <div class="content-section">
                    <div class="header-info">
                        <span class="category">Taller de Elaboración de Instrumentos de Valoración de OVAS</span>
                        <span class="category">Jornadas de Investigación</span>
                    </div>
                </div>
                <p class="location"><i class="fas fa-map-marker-alt"></i> Edificio Guillermo Mensi</p>
                <div class="action-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="calendar-item color-1" [routerLink]="['/ovas_investigation']" [queryParams]="{ tab: 'tab3' }">
                <div class="date-section">
                    <span class="day">20</span>
                    <span class="month">MARZO</span>
                </div>
                <div class="content-section">
                    <div class="header-info">
                        <span class="category">Taller de Elaboración de Instrumentos de Valoración de OVAS</span>
                        <span class="category">Jornadas de Investigación</span>
                    </div>
                </div>
                <p class="location"><i class="fas fa-map-marker-alt"></i> Edificio Guillermo Mensi</p>
                <div class="action-icon">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

        </div>
        <div class="footer-action">
            <button routerLink="/form" class="btn-ups-style">
                <i class="fas fa-user-plus"></i> INSCRIPCIONES TALLER
            </button>

            <button routerLink="/groups" class="btn-ups-style">
                <i class="fas fa-users"></i> VER GRUPOS DE TRABAJO
            </button>
        </div>
    </div>

    <br>
    <h3 class="calendar-main-title">Segunda Semana</h3>

    <div class="hybrid-calendar">

        <div class="calendar-item color-1" [routerLink]="['/lala']" [queryParams]="{ tab: 'tab1' }">
            <div class="date-section">
                <span class="day">23</span>
                <span class="month">MARZO</span>
            </div>
            <div class="content-section">
                <div class="header-info">
                    <span class="category">Formación Consejería Académica - Grupo 1</span>
                </div>
            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i> Sede Cuenca</p>
            <div class="action-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

        <div class="calendar-item color-2" [routerLink]="['/unissma_lala']" [queryParams]="{ tab: 'tab1' }">
            <div class="date-section">
                <span class="day">24</span>
                <span class="month">MARZO</span>
            </div>
            <div class="content-section">
                <div class="header-info">
                    <span class="category">UNISSMA</span>
                    <span class="category">Formación Consejería Académica - Grupo 2</span>
                </div>

            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i> Sede Cuenca</p>
            <div class="action-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

        <div class="calendar-item color-1 empty">
            <div class="date-section">
                <span class="day">25</span>
                <span class="month">MARZO</span>
            </div>
            <div class="content-section">
                <div class="header-info">
                    <span class="category">Reuniones de Carreras</span>
                </div>

            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i> Sede Cuenca</p>
            <div class="action-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

        <div class="calendar-item color-2 empty">
            <div class="date-section">
                <span class="day">26</span>
                <span class="month">MARZO</span>
            </div>
            <div class="content-section">
                <div class="header-info">
                    <div class="header-info">
                        <span class="category">Reuniones de Carreras</span>
                    </div>
                </div>

            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i> Sede Cuenca</p>
            <div class="action-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="calendar-item color-1 empty">
            <div class="date-section">
                <span class="day">27</span>
                <span class="month">MARZO</span>
            </div>
            <div class="content-section">
                <div class="header-info">
                    <div class="header-info">
                        <span class="category">Reuniones de Carreras</span>
                    </div>
                </div>

            </div>
            <p class="location"><i class="fas fa-map-marker-alt"></i> Sede Cuenca</p>
            <div class="action-icon">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

    </div>
</div>