<div class="wrapper">
    <header class="slanted-header">
        <div class="header-background" [style.background-image]="'url(assets/img/banner.avif)'">
            <div class="header-overlay"></div>
        </div>

        <div class="header-content">
            <div class="logo-container">
                <img src="assets/img/logoupsblanco.png" alt="Logo UPS" class="ups-logo-slanted" />
            </div>
            <h1 class="slanted-title">JORNADAS GENERALES</h1>
            <p class="slanted-subtitle">Vicerrectorado Académico</p>
        </div>
    </header>

    <div class="container_cro">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link"
                   [ngClass]="{ 'active': activeTab === 'tab1' }"
                   [routerLink]="['/teacher_training']"
                   [queryParams]="{ tab: 'tab1' }">
                    Lunes, 16 de Marzo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [ngClass]="{ 'active': activeTab === 'tab2' }"
                   [routerLink]="['/teacher_training']"
                   [queryParams]="{ tab: 'tab2' }">
                    Martes, 17 de Marzo
                </a>
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div class="tab-pane" [ngClass]="{ 'show active': activeTab === 'tab1' }" *ngIf="activeTab === 'tab1'">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h30 - 08h40</span><h5>Momento de Oración</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Departamento de Pastoral</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h40 - 10h10</span><h5>Intervención del Rector</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>P. Juan Cárdenas sdb. PhD.</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h10 - 10h40</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h40 - 12h40</span><h5>Charla: Evaluación de los aprendizajes integrando inteligencia artificial</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Xavier Mas García - Universitat Oberta de Catalunya</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h40</span><h5>FIN DE LA JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h15 - 16h00</span><h5>Taller de Inteligencia Artificial en Educación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">07</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h00 - 16h30</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">08</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16h30 - 17h30</span><h5>Taller de Inteligencia Artificial en Educación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">09</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">17h30</span><h5>FIN DE LA JORNADA VESPERTINA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane" [ngClass]="{ 'show active': activeTab === 'tab2' }" *ngIf="activeTab === 'tab2'">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">09h00 - 10h30</span><h5>Metodología de construcción de evaluaciones de alto impacto </h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Equipo Técnico del CACES</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h30 - 11h00</span><h5>RECESO</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">11h00 - 13h00</span><h5>Briefing de evaluación y taller práctico</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Equipo Técnico del CACES</p></div>
                        </div>
                    </li>
                    <!--
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h30 - 13h00</span><h5>Mecanismos de aseguramiento de la calidad del perfil de egreso en la UPS</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Ing. Germán Parra MSc.</p></div>
                        </div>
                    </li> -->
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">13H00</span><h5>FIN DE LA JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h30 - 16h30</span><h5>Taller de Inteligencia Artificial en Educación</h5></div>
                            <div class="timeline-body"><p>Auditorios Edificio Guillermo Mensi</p></div>
                            <p><button (click)="showGroupInfo()" style="background-color: #003366; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 0.8rem">Ver Ubicaciones</button></p>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">16H30</span><h5>FIN DE LA JORNADA VESPERTINA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>