<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/portada.webp'); background-color: rgba(0, 0, 0, 0.5); background-blend-mode: multiply;">
        <div class="filter"></div>
        <div class="content-center brand">
            <h2 class="h1-seo">MECANISMO DE ASEGURAMIENTO DE LA CALIDAD PERFIL DE EGRESO</h2>
        </div>
    </div>
    <div class="container_cro">
        <h4 style="color: black">Secretaria Técnica de Planificación, Evaluación y Acreditación</h4><br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Jueves, 13 de Marzo</a>
            </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Charla: Mecanismo de aseguramiento de la calidad perfil de egreso </h6>
                            <p>Auditorio Leonidas Proaño</p>
                            <p>Diego Peñaloza - Fabricio Espinoza - Germán Parra</p>
                            <small class="text-muted">08h00 - 10h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>RECESO</h6>
                            <small class="text-muted">10h00 - 10h30</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6>Charla: Mecanismo de aseguramiento de la calidad perfil de egreso </h6>
                            <p>Auditorio Leonidas Proaño</p>
                            <p>Diego Peñaloza - Fabricio Espinoza - Germán Parra</p>
                            <small class="text-muted">10h30 - 12h00</small>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-content">
                            <h6> 12h00 - FIN DE LA JORNADA MATUTINA</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
