<div class="wrapper">
    <header class="slanted-header">
        <div class="header-background" [style.background-image]="'url(assets/img/banner.avif)'">
            <div class="header-overlay"></div>
        </div>

        <div class="header-content">
            <div class="logo-container">
                <img src="assets/img/logoupsblanco.png" alt="Logo UPS" class="ups-logo-slanted" />
            </div>
            <h1 class="slanted-title">Socialización de primeros auxilios y charla de seguridad</h1>
            <p class="slanted-subtitle">Unidad de Seguridad, Salud y Medio Ambiente de Sede</p>
            <h1 class="slanted-title">El Duelo y el Desarrollo Emocional</h1>
            <p class="slanted-subtitle">Equipo de Coordinación y Animación del Proyecto LALA - Consejería Académica</p>
        </div>
    </header>

    <div class="container_cro">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link"
                   [ngClass]="{ 'active': activeTab === 'tab1' }"
                   [routerLink]="['/unissma_lala']"
                   [queryParams]="{ tab: 'tab1' }">
                    Martes, 24 de Marzo
                </a>
            </li>
        </ul>

        <div class="tab-content mt-5">
            <div class="timeline-meta content-center"><h5>Socialización de primeros auxilios y charla de seguridad</h5></div>
            <div class="tab-pane show active" *ngIf="activeTab === 'tab1'">
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">09h00 - 10h00</span><h5>Charla Informativa: Primeros Auxilios y Accidente Cerebrovascular</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>UNISSMA</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h00 - 11h00</span><h5>Charla Informativa: medidas de seguridad y prevención para nuestra comunidad universitaria</h5></div>
                            <div class="timeline-body"><p>Teatro Carlos Crespi</p></div>
                            <div class="timeline-body"><p>Policía Nacional</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">11h00</span><h5>FIN DE LA JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content mt-5">
            <div class="tab-pane show active" *ngIf="activeTab === 'tab1'">
                <div class="timeline-meta content-center"><h5>El Duelo y el Desarrollo Emocional</h5></div>
                <ul class="timeline">
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">01</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h00 - 08h15</span><h5>Registro de Asistencia</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Equipo de Coordinación y Animación del Proyecto LALA - Consejería Académica</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">02</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h15 - 08h25</span><h5>Presentación de la Jornada</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Equipo de Coordinación y Animación del Proyecto LALA - Consejería Académica</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">03</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h25 - 08h45</span><h5>Reflexión personal y motivacional</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Equipo Pastoral</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">04</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">08h45 - 10h30</span><h5>Bienestar Emocional del Docente Consejero</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Fabián Auquilla</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">05</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h30 - 10h50</span><h5>Receso</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">06</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">10h50 - 11h50</span><h5>Manejo del estrés y autorregulación emocional </h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Jessica  Ortiz</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">07</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">11h50 - 12H30</span><h5>Organización del tiempo y límites saludables</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Jessica  Ortiz</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">08</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">12h30</span><h5>FIN DE LA JORNADA MATUTINA</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">09</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">14h00 - 15h30</span><h5>Desanclaje emocional y resiliencia docente </h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Tatiana Patiño</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">10</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">15h30 - 15h50</span><h5>Receso</h5></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">11</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">15h50 - 17h20</span><h5>Acompañar sin desgastarse: herramientas prácticas</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Francisco Velez</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-2">
                        <div class="timeline-badge">12</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">17h20 - 17h30</span><h5>Cierre y evaluación</h5></div>
                            <div class="timeline-body"><p>María Auxiliadora</p></div>
                            <div class="timeline-body"><p>Equipo de Coordinación y Animación del Proyecto LALA - Consejería Académica</p></div>
                        </div>
                    </li>
                    <li class="timeline-item color-1">
                        <div class="timeline-badge">13</div>
                        <div class="timeline-panel">
                            <div class="timeline-meta"><span class="time">17h30</span><h5>FIN DE LA JORNADA VESPERTINA</h5></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>