<div class="wrapper">
    <div class="container_tar">
        <div class="card">
            <a [routerLink]="['/investigation']">
                <img src="assets/img/investigacion.avif" alt="Investigación" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Coordinación de Investigación de Sede</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">15 y 16 de Septiembre</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/unadedvi']">
                <img src="assets/img/linea.avif" alt="UNADEDVI" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Unidad Académica de Educación a Distancia y Virtual</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">17 de Septiembre</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/unissma']">
                <img src="assets/img/seguridad.avif" alt="UNISSMA" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Unidad de Seguridad, Salud y Medio Ambiente</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">17 de Septiembre</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/teacher_training']">
                <img src="assets/img/formacion.avif" alt="Formación Docente" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Formación General Docente</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">18 y 19 de Septiembre</h5>
                </div>
            </a>
        </div>

         <div class="card">
            <a [routerLink]="['/lala']">
                <img src="assets/img/lala.avif" alt="Consejería Académica LALA" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Consejería Académica</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">22 y 23 de Septiembre</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/avac']">
                <img src="assets/img/avac.avif" alt=AVAC loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Ambientes Virtuales de Aprendizaje Cooperativo - AVAC</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">25 de Septiembre</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a [routerLink]="['/groups']">
                <img src="assets/img/docentes.avif" alt="Grupos de Trabajo" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Grupos de Trabajo</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">Ver Información</h5>
                </div>
            </a>
        </div>
        <div class="card">
            <a [routerLink]="['/form']">
                <img src="assets/img/inscripcionjpg.avif" alt="Inscripciones" loading="lazy">
                <div class="card-body">
                    <h5 class="card-header" style="font-weight: normal">Inscripciones Talleres</h5>
                </div>
            </a>
        </div>
    </div>
</div>
