<header>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Caveat+Brush&family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap" rel="stylesheet">
</header>

<div class="wrapper">
    <div class="hero-section slanted-header">
        <div class="header-background" style="background-image: url('assets/img/banner.avif');">
            <div class="overlay"></div>
        </div>
        <div class="hero-content">
            <img src="assets/img/logoupsblanco.png" alt="Logo UPS" class="hero-logo" />
        </div>
    </div>

    <div class="title-container">
        <h1 class="floating-title">
            JORNADAS DE FORMACIÓN DOCENTE
            <span class="subtitle">Periodo 2026 - 2026</span>
            <span class="subtitle2">Sede Cuenca</span>
        </h1>
    </div>

    <div class="main-content">
        <app-calendar></app-calendar>
    </div>
</div>