<footer class="custom-footer">
    <div class="custom-container">
        <p class="custom-text">Universidad Politécnica Salesiana Sede Cuenca - &copy; 2025</p>
        <p class="custom-card-footer">
            <strong>Coordinación de Desarrollo Académico</strong><br>
            <strong>Dirección:</strong> Edificio Juan Bottasso - Tercer Piso<br>
            <strong>Ext:</strong> 1373 - 1413 - 1263 - 1424<br>
            <strong>Email: <a href="mailto:coordinacionacademicacue@ups.edu.ec" class="custom-link">coordinacionacademicacue@ups.edu.ec</a></strong>
        </p>
        <h5 class="custom-title">Síguenos en</h5>
        <ul class="custom-social-list">
            <li><a href="https://www.ups.edu.ec/" target="_blank"><i class="fas fa-globe"></i></a></li>
            <li><a href="https://www.facebook.com/UPSalesianaEc" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://x.com/upsalesianaec" target="_blank"><i class="fab fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/school/universidad-politecnica-salesiana/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.instagram.com/upsalesianaec/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>


